.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 25px;
}

.bottom-left {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
