<div class="card" style="cursor: pointer; margin-top: 10px" [@hover]="state">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img width="150px" [src]="imageUrl">
      </div>
      <div class="col-6">
        <div class="row">
          <h2>{{ foodName }}</h2>
        </div>
        <div class="row" style="margin-top: 7px">
          <span>{{ foodDescription }}</span>
        </div>
      </div>
      <div class="col-2 align-self-center">
        <b style="font-size: 30px">{{ price }}</b>
      </div>
      <div class="col-2 align-self-center" *ngIf="rating || hovered">
        <star-rating [starType]="'svg'" [rating]="rating" (ratingChange)="onRatingChange($event)"></star-rating>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <small>{{ imageBy }}</small>
      </div>
    </div>
  </div>
</div>
