<div class="container">
    <div class="card" style="margin-top: 10px">
        <div class="card-body">
            <div class="container">
                FOCIA
                <div class="float-lg-right">
                    <span style="margin-right: 16px">Paulina</span>
                    <span class="fa-layers">
                        <app-icon icon="circle" transform="grow-25 right-4"></app-icon>
                        <app-icon icon="user" class="fa-lg" transform="shrink-3"></app-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
