<div class="container" style="margin-bottom: 25px">
    <div class="card" style="margin-top: 10px" [routerLink]="['/']">
        <div class="card-body card-navigation-body">
            <div class="row">
                <div class="col-2">
                    <img src="assets/images/logo.png" width="150px">
                </div>

                <div class="col-6 align-self-center">
                    <h2>Dobre Restauracje</h2>
                </div>

                <div class="col-4 align-self-center float-right">
                    <div ngbDropdown class="d-inline-block float-right" (click)="$event.stopPropagation()">
                        <div ngbDropdownToggle style="cursor: pointer;">
                            <span style="margin-right: 16px">Paulina</span>
                            <span class="fa-layers">
                                <app-icon icon="circle" transform="grow-25 right-4"></app-icon>
                                <app-icon icon="user" class="fa-lg" transform="shrink-3" style="color: white"></app-icon>
                            </span>
                        </div>

                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%">
                            <button class="dropdown-item">
                                Mój profil
                            </button>
                            <button class="dropdown-item">
                                Wyloguj
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
