<div class="card" style="margin-top: 10px">
  <div class="card-body">
    <div class="container">
      Filters
    </div>
  </div>
</div>

<ng-container *ngFor="let i of [0,1]">
  <app-restaurant-element imageUrl="/assets/images/r1.jpg"
                          restaurantName="Restauracja staropolska"
                          restaurantDescription="Niezapomniane polskie smaki. Promocja dla nowych klientów!">
  </app-restaurant-element>

  <app-restaurant-element imageUrl="/assets/images/r2.jpg"
                          restaurantName="Restauracja nowopolska"
                          restaurantDescription="Odkryj polską kuchnię na nowo.">
  </app-restaurant-element>
</ng-container>
